.todo-wrapper {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  margin: 10px 20px 0;
}
.todo-title-date {
  position: relative;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 15px 15px 0px 0px;
}

.description-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 0px 0px 15px 15px;
  padding-bottom: 10px;
}

.todo-description {
  position: relative;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
}
.todo-description form {
  width: 98%;
}
.todo-description form > input {
  color: #000;
  margin: 0;
  padding: 0 5px;
  width: 98%;
  border: 1px solid #ccc;
  background: #dddddd;
}
.todo-description input:disabled {
  background: #fff;
  border: none;
}

.function-buttons {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: flex-end;
  margin-right: 5px;
  margin-top: 10px;
}

.button-todo {
  margin-top: 5px;
}
.button-todo:hover {
  cursor: pointer;
}

.done {
  position: relative;
  text-decoration: line-through;
}

.todo-title-date input[type="checkbox"] {
  visibility: hidden;
  width: 50px;
  height: 50px;
  z-index: 100;
}
.todo-title-date label {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
}
.todo-title-date input[type="checkbox"] + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 18px;
  width: 16px;
  height: 30px;
  border-bottom: 5px solid rgb(170, 170, 170);
  border-right: 5px solid rgb(170, 170, 170);
  background: none;
  transform: rotate(45deg);
}
.todo-title-date label:hover {
  cursor: pointer;
  background: #e2e2e2;
}
.todo-title-date input[type="checkbox"]:hover + label::before {
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}
.todo-title-date input[type="checkbox"]:checked + label {
  background: rgb(60, 200, 60);
}
.todo-title-date input[type="checkbox"]:checked + label::before {
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}

.todo-title-date h5 {
  position: relative;
  margin: 0;
  padding: 0;
}

h5 input {
  color: #1d1d1d;
  padding: 10px;
  padding-right: 35px;
  border: 1px solid #1d1d1d;
  border-radius: 10px;
  background: #fff;
}
h5 input:disabled {
  color: #fff;
  padding: 10px;
  padding-right: 35px;
  border: none;
  background: #000;
}

button:focus {
  outline: none;
}

h5 form button,
.todo-description button {
  color: #777;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  margin: 0;
  padding: 0 10px;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  transform: translateY(-50%);
}
h5 i:hover,
.todo-description i:hover {
  color: #ddd;
}
